:root {
    --naranja: rgb(255, 87, 34);
    --gris:  rgb(66, 66, 66);
    --gris-claro: rgb(189,189,189);
}

.borde {
        border: 1px solid black;
    }
.header { 
        height: 20vh;
        display: flex;
        justify-content: space-between;
        background-color: var(--gris);
    }
.menupricipal {
    width: 40%;
}
.menu1 {
        justify-content: space-around;
        }
.item {
    list-style: none;
        }
.main {
    height: 1000px;
}
body {
    background-color: var(--gris-claro);
}
.columnas {
    display: flex;
    justify-content: space-around;
    height: 90%;
}
.filas {
    display: grid;
    
    height: 100%;
}
.imagen {
    width: 25%;
    
    
}
.texto {
    width: 50%;
    margin: 10px;
    display: grid;
    row-gap: 60%;
    background-color: var(--gris);
}
.cuadrado {
    display: flex;
}

.redes {
    width: 50%;
    height: 10vh;
    text-align: center;
    background-color: var(--naranja);
}
.visitar {
    width: 30%;
    height: 60%;
    margin-left: 25%;
    margin-bottom: 20px;
}

.enlace {
    margin: auto;
    text-align: center;
}
