body {
    background-color: aqua;
}
.bordes {
    border: 1px solid black;
}
.estilo {
    border: 1px solid red ;
    background-color: cadetblue;
}
.container-header {
    display: flex;
    
    justify-content: space-between;
    align-items: center;
}
.item1 {
    order: 1;
    flex-grow: 2;
    align-self: start;
}
.item2 {
    order: 2;
}
.item3 {
    order: 3;
    flex-grow: 3;
    align-self: end;
}
.item4 {
    order: 4;
    flex-shrink: 1;
}